/**
 * Original 'Basecamp theme' 
 * Basecamp stylesheet, based on "alternate"
 * author: Peter Theill, Commanigy - http://commanigy.com
 */
 
/**
 * Alternative 'Basecamp theme' with icon
 * Icon author: Dutch Icon set, http://dutchicon.com/articles/free-icons (CCAS 3.0)
 * Theme, icon modifier: Park Hyun-woo, ez.amiryo@gmail.com
 */

@import url(../../../stylesheets/application.css);

body, #wrapper { background-color:#eee; font-family:"Lucida Grande", verdana, arial, helvetica, sans-serif; }

a:hover { text-decoration: underline; }
a, a:hover, a:active, a:visited { color: #B73535; }

p.subtitle {
    font-size: 11px;
    font-style: normal;
}

#header, #top-menu { margin: 0; }
#header { 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#111));
    background: linear-gradient(to bottom, #333 0%,#111 100%) #222;
    padding: 8px 8px 4px 8px; height: 5.5em; 
}
#header h1 { 
    margin: 0 20px; 
    font-weight: bold;
    text-shadow: 1px 1px 3px #111;
}
#header #quick-search { margin: 0 24px; }
#top-menu { background-color: #000; font-size: 11px; position: relative; padding: 2px 0; height: 21px }
#top-menu ul { padding: 0 24px; }
#top-menu li, #top-menu #loggedas { color: #ddd; line-height: 21px; margin-right: 4px; }
#top-menu li a { color: #AAA; font-weight: normal; padding:4px 5px; }
#top-menu li a:hover { color: #fff; text-decoration: none; }
#main { background: #EEEEEE; margin: 8px 24px 0px 24px; }
# { background: #fff; border-left: 1px solid #CCC; border-top: 1px solid #CCC; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;}

#content { 
    width: 70%; 
    overflow: auto;

    background: #FFF;
    border-top: 1px solid #CCC;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    border-left: 1px solid #CCC;
    box-shadow: 0px 1px 2px 0px #CCC; 
}

#main.nosidebar #content {
    width: auto;
    border-right: 1px solid #BBB;
}
#footer { background-color:#EEEEEE; border: 0px; clear: left; color:#666666; font-size:9px; margin:4px 0 20px 20px; padding-bottom:15px; text-align:left; }
#footer a:hover { background:#666666 none repeat scroll 0 0; color:#FFFFFF !important;}
#footer a:link, #footer a:visited { color:#666666; }

/* Headers */
h1, h2, h3, h4 { font-family: "Lucida Grande",arial,sans-serif; }
h1 { font-size: 24px; font-weight: normal; margin:0pt 0pt 0pt 0.25em; padding:0pt 0pt 8px; text-align:left; }
h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { border-bottom: 0px; }

.wiki h1 { 
    font-weight: bold;
    margin: -6px -10px 10px; padding: 10px 20px; font-size: 18px; color: #000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE), color-stop(100%,#CCC));
    background: linear-gradient(to bottom, #EEE 0%,#CCC 100%) #DDD;
}

.wiki h2 { 
    margin: -6px -10px 10px; padding: 10px 20px; font-size: 16px; color: #000;
    background-color: #eaeaea;
}

h3, h4 { font-weight: normal; }

#sidebar { 
    width:25%;
    background: #FAFAFA;
    border-top: 1px solid #CCC;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #CCC;
    border-radius: 5px;
    padding: 0 8px 8px 8px;
}

#sidebar h3 { border-bottom:1px solid #DCDCDC; padding:3px 8px; }

/* Links */

#sidebar a:hover { background-color:#003399; color:#FFFFFF; text-decoration: none;}

/* Menu */
#main-menu { margin: 0 20px; }
#main-menu li a { 
    background-color: #444; font-weight: normal; padding:6px 12px 8px 32px; 
    background-repeat:no-repeat !important;
    background-size:18px 18px !important;
    background-position:7px 5px !important; 
}
#main-menu li a:hover { background: #999; text-decoration: none; }
#main-menu li a.selected, #main-menu li a.selected:hover { background-color:#EEEEEE; color: #111; font-weight:bold; }


/* Icon */
#main-menu li a.overview   { background-image: url(../images/tab-icon-overview.png);}
#main-menu li a.activity   { background-image: url(../images/tab-icon-activity.png);}
#main-menu li a.boards     { background-image: url(../images/tab-icon-boards.png);}
#main-menu li a.documents  { background-image: url(../images/tab-icon-documents.png);}
#main-menu li a.files      { background-image: url(../images/tab-icon-files.png);}
#main-menu li a.issues     { background-image: url(../images/tab-icon-issues.png);}
#main-menu li a.new-issue  { background-image: url(../images/tab-icon-new-issue.png);}
#main-menu li a.gantt      { background-image: url(../images/tab-icon-gantt.png);}
#main-menu li a.news       { background-image: url(../images/tab-icon-news.png);}
#main-menu li a.calendar   { background-image: url(../images/tab-icon-calendar.png);}
#main-menu li a.wiki       { background-image: url(../images/tab-icon-wiki.png);}
#main-menu li a.repository { background-image: url(../images/tab-icon-repository.png);}
#main-menu li a.settings   { background-image: url(../images/tab-icon-settings.png);}
#main-menu li a.time       { background-image: url(../images/tab-icon-time.png);}
#main-menu li a.roadmap    { background-image: url(../images/tab-icon-roadmap.png);}
#main-menu li a.dashboard  { background-image: url(../images/tab-icon-dashboard.png);}
#main-menu li a.agile      { background-image: url(../images/tab-icon-agile.png);}


/* Tables */
table.list { border: none; }
table.list th { background-color: #fff; }
table.list tbody td, table.list tbody tr td { border-bottom: solid 1px #ddd; font-size: 12px; padding:4px 10px 4px 3px; }
table.list thead th {
	border: none;
	border-bottom:1px solid #999999;
	font-size:11px;
	font-weight:normal;
	padding:0pt 3px 3px;
	text-transform:uppercase;
}

table.list thead th a { color: #000; }
table.list thead th a:hover { color: #000; }

/* Issues grid styles by priorities (provided by Wynn Netherland) */
table.list tr.issue a { color: #333; }

tr.odd.priority-5, table.list tbody tr.odd.priority-5:hover { color: #900; font-weight: bold; }
tr.odd.priority-5 { background: #ffc4c4; }
tr.even.priority-5, table.list tbody tr.even.priority-5:hover { color: #900; font-weight: bold; }
tr.even.priority-5 { background: #ffd4d4; }
tr.priority-5 a, tr.priority-5:hover a { color: #900; }
tr.odd.priority-5 td, tr.even.priority-5 td { border-color: #ffb4b4; }

tr.odd.priority-4, table.list tbody tr.odd.priority-4:hover { color: #900; }
tr.odd.priority-4 { background: #ffc4c4; }
tr.even.priority-4, table.list tbody tr.even.priority-4:hover { color: #900; }
tr.even.priority-4 { background: #ffd4d4; }
tr.priority-4 a { color: #900; }
tr.odd.priority-4 td, tr.even.priority-4 td { border-color: #ffb4b4; }

tr.odd.priority-3, table.list tbody tr.odd.priority-3:hover { color: #900; }
tr.odd.priority-3 { background: #fee; }
tr.even.priority-3, table.list tbody tr.even.priority-3:hover { color: #900; }
tr.even.priority-3 { background: #fff2f2; }
tr.priority-3 a { color: #900; }
tr.odd.priority-3 td, tr.even.priority-3 td { border-color: #fcc; }

tr.odd.priority-1, table.list tbody tr.odd.priority-1:hover { color: #559; }
tr.odd.priority-1 { background: #eaf7ff; }
tr.even.priority-1, table.list tbody tr.even.priority-1:hover { color: #559; }
tr.even.priority-1 { background: #f2faff; }
tr.priority-1 a { color: #559; }
tr.odd.priority-1 td, tr.even.priority-1 td { border-color: #add7f3; }

p.breadcrumb {
	background-color:#EEEEEE;
	font-size:0.9em;
	margin:-6px -10px 6px;
	padding:6px;
	text-indent:15px;
}

/* Fields */
input[type="text"], textarea, select { padding: 2px; border: 1px solid #d7d7d7; border-radius: 10px; }
input[type="password"] { padding: 2px; border: 1px solid #d7d7d7; border-radius: 10px; }
input[type="text"] { padding: 4px; }
input[type="password"] { padding: 4px; }
input[type="text"]:focus, textarea:focus, select:focus { border: 1px solid #888866; }
option { border-bottom: 1px dotted #d7d7d7; }
input#issue_subject { font-size: 180%; width: 90%; }
div.issue div.subject h3 { font-size: 180%; }

textarea.wiki-edit { font-family: Verdana, Serif; }

/* Misc */
.box { background-color: #fcfcfc; }

.contextual { font-size: 0.9em; font-family:Verdana; }

hr { background:#eee none repeat scroll 0% 0%; }

div#activity dt {
    margin-left: 20px;
}

div#activity dt .title {
    clear: both;
}

div#activity dt .title a {
    color: #111;
}

div#activity dt .author {
    font-size: 90%;
    display: block;
}

div#activity dt .author a {
    color: #666;
}

div#activity dt .time {
    float: right;
}

div#activity dd { margin-left: 72px;}
div#activity dd span.description, #search-results dd span.description { 
    background: #FFFEEF;
    font-style: normal;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0px;
    border: 1px solid #E0DBD1;
}

div#activity span.project, #search-results span.project {
    background: #999;
    padding: 2px 5px;
    font-size: 85%;
    border-radius: 8px;
    color: #FAFAFA;
}
div#activity span.project::after, #search-results span.project::after {
    content: "";
}

div#activity dd span.description:empty {
    padding: 0;
    border: 0;
}

div#activity dl {
    margin-left: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;
}

#activity h3 {
    clear: both;
}

#login-form table {
    border: 1px solid #CCB1B1;
    background-color: #FFECEC;
    border-radius: 7px;
    box-shadow: 0px 0px 1px 0px #888; 
}
